<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="http://localhost:53028/">
                        Kompagnon
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                       Contact
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Denikine">
                        Github
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="https://github.com/Denikine">Tugdual Harel</a>
        </div>
    </div>
</footer>